* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    height: auto;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-image: url(background/desktop-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header figure img {
  margin-top: 130px;
}

header h1 {
    color: var(--Dark-Grayish-Blue);
    font-size: 2.46em;
    padding-top: 55px;
    padding-bottom: 19px;
    font-weight: 600;
}

header p {
    text-align: center;
    color: var(--Grayish-Blue);
    font-size: 1.13em;
    line-height: 1.4em;
}

header div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


header a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    border-radius: 60px;
    font-weight: 1.5em;
    font-weight: 400;
}

header a:hover {
    opacity: 0.8;
}

.button-download-iso {
    background-color: var(--Strong-Cyan);
}

.button-download-mac {
    background-color: var(--Light-Blue);
    margin-left: 15px;
}

/* main section */

.section-one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.section-header {
    color: var(--Dark-Grayish-Blue);
    font-size: 1.91em;
    padding-bottom: 25px;
}

.section-text {
    color: var(--Grayish-Blue);
    text-align: center;
    line-height: 1.5em;
    font-size: 1.05em;
    padding-bottom: 80px;
}

.section-one div {
    display: flex;
    position: relative;
    width: 100%;
}

.section-one div figure img {
    position: absolute;
    left: -2.1%;
}

.section-one div div {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 52.8%;
    margin-top: 3.3%;
}

.section-one div div div {
    width: 90%;
    align-self: flex-end;
    height: 80%;
    margin-left: 2%;
}

.section-one div div div h3 {
    font-size: 1.3em;
    padding-bottom: 10px;
    font-weight: 400;
}


.section-one div div div p {
    text-align: left;
    font-size: 0.9em;
    padding-bottom: 35px;
    line-height: 1.8em;
    color: var(--Grayish-Blue);
}

.section-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 215px;
}

.section-two h2 {
    padding-bottom: 20px;
}


.section-two p {
    font-size: 1.02em;
}

.section-two figure {
    margin-top: 22px;
}

 .section-three {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.section-three div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-three div div {
    width: 25.5%;
    display: flex;
    flex-direction: column;
    color: var(--Grayish-Blue);
    text-align: center;
}

.section-three div div figure {
    width: 100%;
}

.section-three div div h3 {
    color: var(--Dark-Grayish-Blue);
    padding: 40px 0px 20px;
    font-size: 1.25em;
}

.section-three div div p {
    line-height: 1.6em;
}

.icon-blacklist {
    margin-top: -15px;
    margin-left: -16px;
}

.icon-blacklist img {
    width: 12%;
}

.icon-text {
    margin-top: -38px;
}

.icon-text img{
    width: 10%;
}

.icon-preview {
    margin-top: -44px;
}

.icon-preview img {
    width: 13%;
    margin-right: -25px;
}

.logo-container {
    margin-left: 115px;
    margin-top: 155px;
}

.logo-container figure {
    width: 17%;
}

.section-four {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 155px;
}

.section-four p {
    font-size: 1em;
    padding-bottom: 60px;
}

.section-four a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    border-radius: 60px;
    font-weight: 1.5em;
    font-weight: 400;
}

.section-four a:hover {
    opacity: 0.8;
}

footer {
    width: 100%;
    display: flex;
    height: 15vh;
    margin-top: 180px;
}

footer figure {
    width: 10%;
    margin-left: 8.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer figure img {
    width: 36%;
}

footer div {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

footer div div a {
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
    padding: 12px 90px 7px 12px;
}

footer div div {
    width: 80%;
    height: 80%;
    margin-left: 75px;
    margin-top: 23px;
}

.social-container {
    flex-flow: row nowrap; 
    align-items: center;
    width: 20%;
}

.social-container a {
    margin: 12px 0px 0px 26px;
    transition: all 0.3s ease-in-out;
}

.social-container a:hover {
    color: var(--Strong-Cyan);
    transform: scale(1.1);
}

footer a:hover {
    color: var(--Light-Blue);
}

@media only screen and (max-width: 1430px) {
    footer {
        height: 18vh;
    }
}

@media only screen and (max-width: 1300px) {
    .section-one div {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .section-one div figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .section-one div figure img {
        position: static;
        margin-left: 0;
    }

    .section-one div div {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        margin-top: 40px;
    }

    .section-one div div div h3 {
        text-align: center;
    }
    
    
    .section-one div div div p {
        text-align: center;
    }

}
